.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

.cartContainer {
  width: 679px;
  height: 100%;
  background-color: var(--dark-color);
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transition: transform 2s ease;
  transform: translateX(0);
  overflow-y: auto;

  button {
    font-size: 1rem;
  }
  @media (max-width: 625px) {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 50px;

  button {
    background-color: var(--medium-dark-color);
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    color: var(--white);
    font-weight: 500;
    font-size: 24px;
    width: 100%;
    text-align: center;
  }

  @media (max-width: 625px) {
    width: 100%;
  }
}

.cartBody {
  margin-bottom: 30px;
}

.priceContainer {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 20px;
  margin-bottom: 50px;
  p {
    font-weight: 700;
  }

  @media (max-width: 625px) {
    width: 100%;
  }
}

.price {
  color: var(--white);
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon {
  margin-right: 8px;
  border-radius: 50%;
  background-color: #3d8df5;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
